.header {
    padding: 20px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px #f5f5f5;
    transition: all .2s linear;
}

.header.fixed {
    background-color: #FAFAFA;
    box-shadow: 0 0 10px #1F1677;
}

.header>div {
    justify-content: space-between;
    display: flex;
    max-width: 75%;
    margin: 0 auto;
}

.header nav {
    display: flex;
    align-items: center;
}

.nav_item {
    font-size: 20px;
    font-weight: 500;
    color: #2D229B;
}

.nav_item:hover,
.nav_item.active {
    background-color: transparent !important;
    color: #FD4363;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    width: 21.43px;
    margin-left: 12px;
}

.hamburger span {
    background-color: #2D229B;
    height: 3px;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: all 1s ease;
    width: 100%;
}

.hamburger.active span:first-child {
    background-color: #2D229B;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    background-color: #2D229B;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu {
    align-items: center;
    background-color: #1F1677;
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    position: fixed;
    top: 67px;
    transition: all .5s ease;
    width: 100vw;
    z-index: 1;
    list-style: none;
    overflow: hidden;
    left: 0;
    border-bottom: 1px solid #f5f5f5;
}

.menu.active {
    height: 216px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 16px;
        background-color: #FAFAFA;
    }
    
    .header.fixed {
        box-shadow: 0 0 10px #1F1677;
    }

    .header>div {
        max-width: 100%;
    }

    .nav_item {
        width: 100%;
        text-align: left;
        color: var(--white-color);
    }
}